/* Nav Bar CSS */

nav {
  /* font-family: 'Bungee', cursive; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 75px;
  background-color: FFFFF;
  color: FFFFF;
  margin: 1em;
  z-index: 2;
  width: auto;
  font-size: 22px;
}

#anchor-click {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

#anchor-button:hover {
  transform: translateY(3px);
}