/* CSS class for new tweets */


section {
  /* background-color: #afeeee; */
  /* display: box; */
  border-bottom: 3px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
  width: 100%;
  border: none;
  background-color: #afeeee;
}



#tweet-button {
  background-color: #555555;
  color: white;
  border-radius: 8px;
  border: none;
  font-family: bungee;
}

#tweet-button:hover {
  transform: translateY(2px);
}

#lower-box {
  display: flex;
  justify-content: space-between;
}

.over {
  color: red;
}