/* CSS class for new tweets */


main section {
  background-color: #afeeee;
  /* display: box; */
  border-bottom: 3px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  background-color: #afeeee;
  resize: none;
  width: 100%;
  border: none;
}

#tweet-button #counter {
  display: flex;
  justify-content: space-between;
}

#tweet-button {
  background-color: #555555;
  border-radius: 8px;
  border: none;
  text: white;
  font-family: bungee;
}

.over {
  color: red;
}